/*Pgina de login 1, pg de capa*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --bgcolor: linear-gradient(-130deg, #0C4B6A 60%,#122A4E);
  --darkblue: #122A4E;
  --lightgreen:#79D3C9;
}

body{
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--bgcolor);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
.cabecalho{
  display: flex;
  justify-content:flex-end;
  background-color: rgba(255,255,255,0.4);
  border-radius: 0px 0px 40px 40px;
  height:20%;
  
}
.cabecalho img{
  margin-top: 10px;
  margin-left: 26vw;
  width: 10%;
}

h1{
  font-size: 3em;
  color: var(--darkblue);
  margin-top: 50px;
 
}
.cards{
  display: flex;
  justify-content: space-around;
  padding: 2vw;
  margin: 5vw;
  text-align: center;
  margin-top: -15%;
  margin-bottom: -48vw;
  
  
}
.card1,.card2,.card3,.card4{
  flex-wrap:  wrap ;
  background-color: rgba(255,255,255,0.9);
  width: 23%;
  height: 60vh;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 #122A4E;
  opacity: 0.9;
  transition: 0.9s;
  margin-top: -73%;
}
h2{
  color: var(--darkblue);
}

.cards img{
  width: 11vw;
  align-content: flex-end;
  align-items: baseline;
  margin-top: 90px;
}
.card1 img{
  margin-top: 90px;
}
.card1:active{
  transform: scale(0.9);
}
.card1:hover{
  opacity: 1;
  transform: scale(1.1);
}

.card2 img{
  margin-top: 110px;
  width: 10vw;
}
.card2:active{
  transform: scale(0.9);
}
.card2:hover{
  opacity: 1;
  transform: scale(1.1);
}

.card3 img{
  margin-top: 75px;
}
.card3:active{
  transform: scale(0.9);
}
.card3:hover{
  opacity: 1;
  transform: scale(1.1);
}

.card4 img{
  margin-top: 110px;
  margin-left: 35px;
  width:10vw;
}

.card4:active{
  transform: scale(0.9);
}
.card4:hover{
  opacity: 1;
  transform: scale(1.1);
}
.fundo{
  
  opacity: 0.5;
}
footer{
  display: flex;
  justify-content: center;
  margin-top: 18%;
  border-top: solid white 1px;
  width: 25%;
  margin-left: 38%;
}
footer p{

}