/*Pgina de login 1, pg de capa*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --bgcolor: linear-gradient(-130deg, #0C4B6A 60%,#122A4E);
  --darkblue: #122A4E;
  --lightgreen:#79D3C9;
}

body{
 width: 100%;
  height: 100vh;
  position: relative;
  background: var(--bgcolor);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
.cabecalho{
  display: flex;
 
  background-color:var(--darkblue);
  border-radius: 0px 0px 40px 40px;
  height:20%;
  width: 100%;
  justify-content: flex-end;
  
}
.cabecalho img{
  margin-top: 0;
  margin-left: 25vw;
  width: 10%;
  background-color: aliceblue;
  border-radius: 15px;

}

h1{
  align-items: center;
  
  font-size: 3em;
  color: whitesmoke;
  margin-top: 2%;
}
.cards{
  display: flex;
  justify-content: space-around;
  margin: 2vw;
  text-align: center;
 
}
.card1,.card2,.card3,.card4{
  flex-wrap:  wrap ;
  background-color: rgba(255,255,255,0.9);
  width: 23%;
  height: 60vh;
  border-radius: 15px;
  box-shadow: 0 0 1em #122A4E;
  opacity: 0.9;
  transition: 0.9s;
}
h2{
  color: var(--darkblue);
}

.cards img{
  width: 10vw;
  align-content: flex-end;
  align-items: baseline;
  margin-top: 90px;
}
.card1 img{
  margin-top: 125px;
}
.card1:active{
  transform: scale(0.9);
}
.card1:hover{
  opacity: 1;
  transform: scale(1.1);
}

.card2 img{
  margin-top: 110px;
  width: 10vw;
}
.card2:active{
  transform: scale(0.9);
}
.card2:hover{
  opacity: 1;
  transform: scale(1.1);
}

.card3 img{
  margin-top: 75px;
}
.card3:active{
  transform: scale(0.9);
}
.card3:hover{
  opacity: 1;
  transform: scale(1.1);
}

.card4 img{
  margin-top: 110px;
  margin-left: 35px;
  width:10vw;
}

.card4:active{
  transform: scale(0.9);
}
.card4:hover{
  opacity: 1;
  transform: scale(1.1);
}
.fundo{
  
  opacity: 0.5;
}
footer{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  border-top: solid white 1px;
  width: 25%;
  margin-left: 37%;
}

@media only screen and (max-width: 800px){
  .cards{ flex-wrap: wrap}
  .card1,.card2,.card3,.card4{height:32vh;width:45vw;margin: 1vw;margin-top: 4vw;}
  .cabecalho{font-size: 10px;height: 110px;}
  h1{margin-top: 30px;margin-right: 20vw;}
  .logo{display: none;}
  .cards img{display: none;}
  
  footer{margin-top: 30vw;width: 50vw;margin-left: 26%;}
}
@media only screen and (max-height: 500px){
  .card1 img{margin-top: 1vw;}
  .card2 img{margin-top: 1vw;}
  .card3 img{margin-top: 1vw;}
  .card4 img{margin-top: 1vw;}

}

